<a href="https://colab.research.google.com/github/nikitaanand12/nikanand/blob/main/ML_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.To print all the numbers divisible by 2
list=[1,2,3,4,5,6,7,8,9,10]
for i in list:
  if(i%2==0):
    {
        print (i)
    }

2
4
6
8
10

In [ ]:
#2. Print all the numbers from > 50 and < 100 for some range between 1 to 1000
j=[i for i in range (1,1001)if i>=50 and i<=100]
print (j)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
#3. Print the table of 5 from 1 to 30
j=[i*5 for i in range (1,31)]
print(j)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150]

In [ ]:
#4. String="i love csit department".Count the number of vowels and consonants in the string
string ="i love csit department"
j=[]
for i in string :
  if(i in ['a','e','i','o','u']):
    #j.append(i)
    print(i)

i
o
e
i
e
a
e

In [ ]:
#5. Print all the keys in lowercase if the value is greater than equal to 3000
dict={'maruti':100,'suv':2000,'audi':3000,'balero':4000,'ford':6000}
for i in dict:
  if dict[i]>=3000:
    print(i.lower())

audi
balero
ford

In [ ]:
#6. For some range in between 1 to 1000 print even if the number is even and print odd if the no. is odd
for i in range(121,132):
 if (i%2==0):
   print("even")
 else: 
   print("odd")

odd
even
odd
even